
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'),
    local('Gilroy-Light'),
    url('../fonts/Gilroylight.woff2') format('woff2'),
    url('../fonts/Gilroylight.woff') format('woff'),
    url('../fonts/Gilroylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy ExtraBold'),
    local('Gilroy-ExtraBold'),
    url('../fonts/Gilroyextrabold.woff2') format('woff2'),
    url('../fonts/Gilroyextrabold.woff') format('woff'),
    url('../fonts/Gilroyextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('../fonts/Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.ttf');
}
/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    width: 100vw;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
        text-decoration: none;
    }
}

body {
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    color: #111111;
    background-color: white;
    overflow-x: hidden;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0;
    z-index: 20;
    background-color: transparent;
}
h1 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #000000;
    margin-bottom: 1vw;
}

h2 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 20px;
    &.white {
        color: white;
    }
}

h3 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}

h4 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}
section {
    width: 100%;
    margin: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    &.white {
        color: white;
    }
}

a.m-btn, button.m-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 180px;
    height: 50px;
    background: rgba(0, 0, 0, 0.87);
    border-radius: 2px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.75px;
    color: #FFFFFF;
    margin-top: 30px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    &.white {
        background-color: white;
        color: rgba(0, 0, 0, 0.87);
    }
}

.m-navbar {
    max-width: 1120px;
    margin: auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    .navbar-collapse {
        -webkit-box-flex: inherit;
        -ms-flex-positive: inherit;
        flex-grow: inherit;
    }
    .nav-item {
        margin-left: 40px;
        .nav-link {
            font-family: 'Gilroy', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 0.15px;
            color: #000000;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            border-bottom: 2px solid transparent;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            &:after {
                content: '';
                position: absolute;
                bottom: -23px;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: black;
                border-radius: 2px;
                opacity: 0;
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
            &.active:after, &:hover:after {
                opacity: 1;
            }
        }
    }
    .navbar-toggler, .navbar-toggler:focus, .navbar-toggler:hover {
        border: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .mobile-logo {
        display: none;
    }

    .navbar-brand {
        width: 20vw;
        min-width: 140px;
        padding: 12px 0;
        padding-bottom: 0;
        img {
            width: 100%;
            max-width: 140px;
        }
    }
}

select:focus option {
    color: initial;
}

.header-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.bg-img {
    background-image: url("../img/main-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.main-page {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: auto;
    height: calc(100vh - 90px);
    max-height: 800px;
    width: 90%;
    max-width: 1120px;
    margin-top: 90px;
    padding-bottom: 0;
    .text-block {
        margin-top: 150px;
        width: 60%;
    }
    .img-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 50px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 40%;
        -ms-flex-item-align: end;
        align-self: flex-end;
        img {
            width: 100%;
        }
    }
    h2 {
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 1.5;
        letter-spacing: 0.15px;
        color: #FFFFFF;
        margin-bottom: 45px;
    }
    .link-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        a {
            width: 30%;
            margin-right: 8px;
            max-width: 135px;
            img {
                width: 100%;
            }
        }
    }
}

.bg-color-gray {
    background-color: #F8F8F8;
}

.bg-color {
    background: -o-linear-gradient(left, #30AD8E 0%, #3BBE9E 104.55%);
    background: -webkit-gradient(linear, left top, right top, from(#30AD8E), color-stop(104.55%, #3BBE9E));
    background: linear-gradient(90deg, #30AD8E 0%, #3BBE9E 104.55%);
}

.two-block {
    width: 90%;
    max-width: 1160px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    padding: 100px 0;
    &.block-inner {
        width: 100%;
        padding: 0 32px;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        margin-bottom: 16px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        .text {
            padding: 58px 0;
        }
        .img {
            img {
                max-width: 300px;
            }
        }
    }


    .column {
        width: 48%;
        &.w-52 {
            width: 52%;
        }
        &.w-40 {
            width: 40%;
        }
        .img {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            margin-bottom: -1px;
            &.center {
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
            &.flex-end {
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }
            &.double {
                img {
                    margin-right: -60px;
                }
            }
            img {
                width: 100%;
            }
        }
        .text {
            width: 100%;
            padding-right: 25px;
        }
    }
}

.bg-product1 {
    background-image: url("../img/bg-products1.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-product2 {
    background-image: url("../img/bg-products2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-product3 {
    background-image: url("../img/bg-products3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.caption {
    text-align: center;
    margin: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 35px;
}

footer {
    padding: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.87);
    .footer-content {
        margin: auto;
        width: 90%;
        max-width: 1160px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        .footer-nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            margin-top: 40px;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .footer-nav-item {
                width: 25%;
                min-width: 280px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                margin-bottom: 25px;
                a {
                    font-family: 'Gilroy', sans-serif;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.15px;
                    color: #FFFFFF;
                    margin-bottom: 16px;
                }
            }
            .footer-nav-caption {
                font-family: 'Gilroy', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.15px;
                color: #FFFFFF;
                margin-bottom: 20px;
            }
        }
    }
    .footer-divider {
        width: 100%;
        height: 1px;
        background-color: #C4C4C4;
        margin-top: 70px;
    }
    .link-bottom-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 25px 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        a {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #333333;
            margin: 0 15px;
            margin-bottom: 20px;
        }
        select.lang-select {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #333333;
            margin: 0 15px;
            margin-bottom: 20px;
            border: none;
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            &:focus {
                outline: none;
                border: none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        }
    }
}

.products {
    width: 90%;
    max-width: 1160px;
    margin: auto;
    padding: 100px 0;
}

.news-block {
    width: 90%;
    max-width: 1160px;
    margin: auto;
    padding-bottom: 260px;
    a.m-btn {
        margin: auto;
        margin-top: 70px;
    }
}

.news-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 45px;
    .news-item {
        width: 24%;
        min-width: 200px;
        margin-bottom: 25px;
    }
    .news-img {
        width: 100%;
        height: 160px;
    }
}

.main-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 80px;
    &__img {
        width: 48%;
    }
    &__info {
        width: 48%;
    }
    .news-caption {
        margin-top: 0;
        max-width: 250px;
        margin-bottom: 16px;
    }
    .news-desc {
        max-width: 570px;
    }
}

.post-name {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 16px;
    max-width: 570px;
}

.news-img {
    width: 100%;
    height: 316px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    img {
        width: 100%;
        min-height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
}
.news-caption {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    span {
        font-family: 'Gilroy', sans-serif;
        font-size: 18px;
        line-height: 1.5;
        text-align: right;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.4);
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
}
.news-desc {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}

.soc-box a {
    margin-left: 30px;
    &:nth-child(1) {
        margin-left: 0;
    }
}

.copy {
    font-family: 'Gilroy-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    margin-top: 40px;
}

#button-top {
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.87);
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 100%;
    z-index: 10;
}

.page-container {
    width: 90%;
    max-width: 1160px;
    margin: auto;
    margin-top: 180px;
}

.contact-form {
    margin: 40px 0;
    width: 100%;
    max-width: 376px;
    .form-group {
        width: 100%;
        label {
            visibility: hidden;
        }
        input {
            width: 100%;
            border: none;
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-family: 'Arial', sans-serif;
            font-size: 16px;
            line-height: 18px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: rgba(0, 0, 0, 0.4);
            height: 54px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            &::-webkit-input-placeholder {
                color: rgba(0, 0, 0, 0.4);
            }
            &::-moz-placeholder {
                color: rgba(0, 0, 0, 0.4);
            }
            &:-ms-input-placeholder {
                color: rgba(0, 0, 0, 0.4);
            }
            &::-ms-input-placeholder {
                color: rgba(0, 0, 0, 0.4);
            }
            &::placeholder {
                color: rgba(0, 0, 0, 0.4);
            }
        }
        textarea {
            width: 100%;
            border: none;
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-family: 'Arial', sans-serif;
            font-size: 16px;
            line-height: 18px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: rgba(0, 0, 0, 0.4);
            height: auto;
            min-height: 54px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            &::-webkit-input-placeholder {
                color: rgba(0, 0, 0, 0.4);
            }
            &::-moz-placeholder {
                color: rgba(0, 0, 0, 0.4);
            }
            &:-ms-input-placeholder {
                color: rgba(0, 0, 0, 0.4);
            }
            &::-ms-input-placeholder {
                color: rgba(0, 0, 0, 0.4);
            }
            &::placeholder {
                color: rgba(0, 0, 0, 0.4);
            }
        }
    }
}

.contacts-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .contacts-column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        .contacts-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 18px;
            line-height: 1.5;
            letter-spacing: 0.15px;
            color: rgba(0, 0, 0, 0.87);
            min-width: 275px;
            margin-bottom: 50px;
            a {
                color: rgba(0, 0, 0, 0.87);
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                &:hover {
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        }
    }
}


.search-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    max-width: 270px;
}

.searchbar {
    float: right;
    background-color: transparent;
    color: black;
    padding: 6px 10px;
    width: calc(100% - 45px);
    border: none;
    margin-top: 1px;
    margin-right: 8px;
    font-family: "SequelSans-Medium", sans-serif;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.searchbar::-webkit-input-placeholder {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.4);
}

.searchbar::-moz-placeholder {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.4);
}

.searchbar:-ms-input-placeholder {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.4);
}

.searchbar::-ms-input-placeholder {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.4);
}

.searchbar::placeholder {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.4);
}

.searchbar:focus {
    font-family: "SequelSans-Medium", sans-serif;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}

.btn-search {
    cursor: pointer;
    color: black;
    text-decoration: none !important;
    font-family: "SequelSans-Medium", sans-serif;
    padding-top: 5px;
}

.select-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    select {
        width: 48%;
        min-width: 150px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        padding: 16px 0;
        &:focus {
            border: none;
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }
    }
}

.post-cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 316px;
    overflow: hidden;
    margin-top: 80px;
    img  {
        width: 100%;
        min-height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

article {
    width: 90%;
    max-width: 1160px;
    margin: auto;
    margin-top: 100px;
    .post-header {
        margin-left: 146px;
        margin-bottom: 24px;
        .news-caption {
            max-width: -webkit-max-content;
            max-width: -moz-max-content;
            max-width: max-content;
            margin-bottom: 10px;
            .news-date {
                margin-left: 15px;
            }
        }
    }
    .post-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }
    .post-share {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 146px;
        height: 190px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        a {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 30px;
        }
    }
    .post-content {
        width: calc(100% - 146px);
        max-width: 770px;
        margin-bottom: 100px;
        p {
            margin-bottom: 20px;
        }
    }
}
.quote {
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: 700;
    color: black;
    font-style: italic;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -10px;
        width: 4px;
        height: 100%;
        background-color: black;
        border-radius: 2px;
    }
}

.text-p {
    margin-bottom: 20px;
    max-width: 580px;
}

.post-ul {
    list-style: none;
    padding-left: 0;
    li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 15px;
        &:before {
            content: '';
            position: absolute;
            top: 12px;
            left: 0;
            width: 2px;
            height: 1px;
            background-color: black;
        }
    }
}

.tag-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    a.tag {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.15px;
        color: #000000;
        background: rgba(0, 0, 0, 0.03);
        border-radius: 2px;
        padding: 10px 15px;
        margin-right: 8px;
        white-space: nowrap;
        margin-bottom: 10px;
    }
}

.block-video  {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
    background: url(../img/video-img.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 100px;
    margin-top: 25px;
    img, video {
        width: 100%;
        min-height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        z-index: -100;
        right: 0;
        bottom: 0;
        background: url(../img/video-img.jpg) no-repeat center center;
        background-size: cover;
    }
}

.gallery-block {
    width: 90%;
    max-width: 1160px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    a.m-btn {
        margin: auto;
        margin-top: 40px;
    }
}

.gallery-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .gallery-box__item {
        width: 24%;
        min-width: 250px;
        height: 144px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 16px;
        img {
            min-width: 100%;
            width: 100%;
            min-height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}

.team-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 150px;

    .team__item {
        width: 24%;
        min-width: 280px;
        margin-bottom: 16px;
        &:hover {
            color: black;
        }
        .team-img {
            width: 100%;
            overflow: hidden;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 250px;
            img {
                min-width: 100%;
                width: 100%;
                min-height: 100%;
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
            &:hover {
                img {
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
    }
}

.team-name {
    font-family: 'Gilroy', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #000000;
}
.team-position {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #000000;
}

.back, .prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
    line-height: 1;
    font-size: 18px;
    svg {
        margin-right: 15px;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    &:hover {
        svg {
            -webkit-transform: translateX(-5px);
            -ms-transform: translateX(-5px);
            transform: translateX(-5px);
        }
    }
    span {
        font-family: 'Gilroy-Bold', sans-serif;
    }
}

.next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    svg {
        margin-left: 15px;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    &:hover {
        svg {
            -webkit-transform: translateX(5px);
            -ms-transform: translateX(5px);
            transform: translateX(5px);
        }
    }
    span {
        font-family: 'Gilroy-Bold', sans-serif;
        margin-right: 5px;
    }
}

.team-box-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 300px;
    position: relative;
    .team-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
        width: 377px;
        height: 377px;
        margin-right: 16px;
        img {
            width: 100%;
        }
    }
}

.team__info {
    width: calc(100% - 377px);
    .team-name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        font-size: 36px;
        .team-media {
            margin-left: 15px;
            a {
                margin-right: 15px;
            }
        }
    }
}

.team-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: calc(100% - 390px);
    position: absolute;
    right: 0;
    bottom: 8px;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .main-page {
        .text-block {
            margin-top: 90px;
        }
        h2 {
            font-size: 20px;
            margin-bottom: 40px;
        }
    }
    section {
        padding: 30px 0;
    }
    .row-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}

@media (max-width: 990px) {
    .m-navbar {
        height: 80px;
        .navbar-collapse {
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-color: rgb(61, 179, 146);
            -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            transform: translateX(-100%);
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            background-image: url("../img/menu-mobile-png.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            &.show {
                -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                transform: translateX(0);
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
            .menu-mobile-head {
                width: 100%;
                padding: 30px 20px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }
            .navbar-nav {
                -ms-flex-pack: distribute;
                justify-content: space-around;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 70vh;
                .nav-item {
                    margin-left: 0;
                    .nav-link {
                        color: #FFFFFF;
                        font-size: 20px;
                        &:after {
                            background-color: white;
                            bottom: -10px;
                            height: 1px;
                        }
                    }
                }
            }
        }
        .mobile-logo {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }

    .bg-img {
        background-size: cover;
    }

    header {
        padding: 0;
    }

    .main-page {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: auto;
        .text-block {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 40px;
            h1, h2 {
                text-align: center;
                display: block;
                margin: 30px auto;
            }
        }
        .img-block {
            width: 100%;
            max-width: 500px;
            min-height: auto;
            background-size: cover;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            overflow: hidden;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            padding-top: 0;
        }
        .link-box {
            margin-top: 5vw;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }

    h2 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    p {
        font-size: 14px;
    }

    .main-page .img-block img {
        width: 100%;
    }

    .news-box .news-item {
        width: 49%;
        .news-img {
            height: 200px;
        }
    }

    .page-container {
        margin-top: 80px;
    }

    .block-video {
        height: 455px;
    }

    .team-box-open .team-img {
        width: 315px;
        height: 315px;
    }

    .team-controls {
        width: calc(100% - 320px);
    }

    .back, .prev, .next {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .two-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 40px 0;
        .column {
            width: 100%!important;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            .img {
                max-width: 400px;
                margin-top: 35px;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
            .text {
                padding-right: 0;
                h2 {
                    display: block;
                    text-align: center;
                    margin-top: 25px;
                }
                p {
                    display: block;
                    text-align: center;
                }
            }
        }
        &.mobile-column-reverse {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }
    }

    footer .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .soc-box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 250px;
            margin: 20px auto;
            a {
                margin-right: 0;
            }
        }

        .corp {
            text-align: center;
            font-size: 14px;
        }
    }

    .text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .two-block.block-inner {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .two-block.block-inner .text {
        padding: 0;
    }

    .two-block .contacts-box {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        .contacts-column {
            .contacts-item {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
        }
    }

    .main-news {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        &__img {
            width: 100%;
            margin-bottom: 25px;
        }
        &__info {
            width: 100%;
        }
        .post-name {
            font-size: 24px;
        }
    }

    .filter-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start!important;
        -ms-flex-align: start!important;
        align-items: flex-start!important;
    }

    .search-container {
        margin-bottom: 35px;
    }

    article {
        .post-header {
            margin-left: 0;
        }
        .post-body {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        .post-share {
            width: 220px;
            height: 50px;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            a {
                width: 30px;
                margin-right: 20px;
            }
        }
        .post-content {
            width: 100%;
        }
    }

    .team__info .team-name {
        font-size: 26px;
    }

    .team-position {
        font-size: 14px;
    }

    .team-box-open .team-img {
        width: 280px;
        height: 280px;
    }
    .team-box-open {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 60px;
    }

    .team-box-open .team-img {
        width: 100%;
        margin-bottom: 16px;
    }

    .team__info {
        width: 100%;
    }

    .team-controls {
        width: 100%;
    }
}

@media (max-width: 640px) {

    h1 {
        font-size: 24px;
    }

    .main-page {
        .link-box {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            a {
                margin: 10px auto;
                width: 70%;
            }
        }
        h2 {
            font-size: 16px;
        }
    }

    .two-block .column .img.double img {
        margin-right: -30px;
    }

    .news-box .news-item {
        width: 100%;
    }

    .select-box select, .search-container {
        min-width: 100%;
    }

    .gallery-box .gallery-box__item {
        width: 100%;
        height: 200px;
    }

    .block-video {
        height: 285px;
        margin-bottom: 50px;
    }

    .team-box .team__item {
        width: 100%;
    }

    .back, .prev, .next {
        font-size: 10px;
        svg {
            width: 5px;
        }
    }
}
